@page {
  size: a4;
  margin: 4cm 1.75cm 7in 1.75cm; /* Aumente a margem inferior */
}

@media print {
  table.paging thead td, table.paging tfoot td {
      height: 5in;
  }
}

header, footer {
  width: 100%; height: .5in;
}

footer {
  align-items: center;
  text-align: center;
  justify-content: center;
}

header {
  position: absolute;
  top: 0;
}

@media print {
  header, footer {
      position: fixed;
  }
  
  footer {
      bottom: 0;
  }

  .printHeaderFee img {
    width: 200px
  }
}

.signature-section {
  page-break-before: always;
}